.grocery-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grocery-list-page h1 {
  font-size: 3.5em;
  color: #1c3f75;
  text-align: center;
  margin-bottom: 20px;
}

.search-box {
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  min-width: 400px;
  margin-bottom: 20px;
}

.item-list, .grocery-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-tile, .list-tile {
  background: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #306ECC;
  color: white;
  padding: 0.75em 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #8ca8d3;
}

.list-tile.purchased {
  text-decoration: line-through;
  background-color: #d3d3d3;
}

